<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>base</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-lg navbar-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class='navbar-nav mr-auto'>
        <li class="navbar-brand mynav">Sahasil's Portfolio</li>
        <li> <a class="nav-link mynav" href="{% url 'blog:all_blogs' %}">Blog</a> </li>
        <li> <a class="nav-link mynav nav-right" href="{% static 'portfolio/resume.pdf' %}">Resume</a></li>
        <li> <a class="nav-link mynav" href="https://github.com/SahasilAK">Github</a></li>
        <li> <a class="nav-link mynav" href="https://www.linkedin.com/in/sahasil-ak/">Linkedin</a></li>

      </ul>

      </div>

    </nav>
    <div class="container">
{% block content %}

{% endblock content %}
    </div>

  </body>
</html>
